.header-button {
  font-size: 16px;
  /* font-size: 1rem; */
  display: inline-flex;
  align-items: center;
}
.header-button .title {
  white-space: nowrap;

  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding: 0 20px;
}
.header-button .amount {
  line-height: 1;
  color: #000;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  padding-left: 20px;
  vertical-align: middle;
}

.header-button .count {
  background-color: #ef2840;
  color: #fff;
  opacity: 1;
  margin-right: 20px;
  margin-left: 5px;
  font-size: 12px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  min-width: 24px;
  text-align: center;
  border-radius: 100%;

  padding: 0 3px;
}
.header-button .box-cart {
  border-left: 1px solid #dadada;
  margin-left: 20px;
}
.padding {
  padding: 39px 30px 39px 30px;
}
.canchinh {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-style: italic;
  position: relative;
}

/* form dang nhap  */
.canchinh:hover .card {
  opacity: 1;
}
.formdangnhap .card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0;
  text-align: left;
  left: 0;
  top: 100%;
  position: absolute;
  transition: all 0.35s;
  /* opacity: 0; */
  z-index: 99;
  pointer-events: auto;
  /* visibility: hidden; */
  /* color: #000; */
  padding-top: 15px;
}

.formdangnhap .social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.formdangnhap .social_icon span:hover {
  color: white;
  cursor: pointer;
}

.formdangnhap .card-header h3 {
  color: white;
}

.formdangnhap .social_icon {
  position: absolute;
  right: 20px;
  top: -20px;
}

.formdangnhap .input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

.formdangnhap input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.formdangnhap .remember {
  color: white;
}

.formdangnhap .remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.formdangnhap .login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.formdangnhap .login_btn:hover {
  color: black;
  background-color: white;
}

.formdangnhap .links {
  color: white;
}

.formdangnhap .links a {
  margin-left: 4px;
}
/* het form dang nhap  */
.canchinh2 {
  display: flex;
  justify-content: center;
}

.padding_nav {
  padding: 10px 30px;
}
.elementmenu {
  font-family: "Oswald", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  margin-right: 270px;
}
.paddinglink {
  padding: 10px 0px;
}
.css_li {
  margin-right: 50px;
}
.cssjumbotron {
  padding: 10px;
  background-color: #f1f3f7;
  display: flex;
  justify-content: center;
}
.cssjumbotron .fas {
  padding: 9px 30px;
  vertical-align: middle;
}
.cssjumbotron a span {
  color: #696969;
  font-style: italic;
  font-size: 14px;
  line-height: 30px;
}
.csscontentimage .flex-control-thumbs {
  flex-grow: 0;
  flex-shrink: 200px;
  flex-basis: 70px;
}
.csscontentimage ol li {
  padding: 5px;
  list-style: none;
  cursor: pointer;
}
.inner h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.inner .price span {
  font-size: 1.7rem;
  line-height: 1.2;
  margin-bottom: 25px;
  letter-spacing: 2px;
  color: #000;
}
.inner .price {
  margin-right: 280px;
}
.inner .rattingstart {
  margin-bottom: 25px;
}
.inner .text p {
  font-size: 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* word-spacing: px; */
  line-height: 2;
}
.buttons_added {
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;

  width: 100px;
}
.buttons_added .input-text {
  /* padding: 10px 0;
  border-color: #000;
  margin-right: -30px;
  padding-left: 50px; */
  width: 70px;
  height: 44px;
  padding-left: 30px;
  border: 1px solid #000;
  border-right: none;
}
.buttons_added .minus {
  position: absolute;
  width: 30px;
  height: 22px;
  bottom: 0px;

  background-color: transparent;
  border: 1px solid #000;
  padding-top: -1px;
  left: 68px;
}
.buttons_added .plus {
  position: absolute;
  width: 30px;
  height: 22px;
  top: 0px;

  left: 68px;
  border: 1px solid #000;
  border-bottom: none;
  border-color: #000;
  background-color: transparent;
}
.single_add_to_cart_button {
  padding: 0px 80px;
  border: 1px solid #000;
  background-color: transparent;
}
.posted_in {
  font-style: italic;
}
.posted_in a {
  font-size: 11px;
  font-style: initial;
}
.shop_attributes tr th {
  background-color: #f4f4f4;
  width: 150px;
  border: 1px solid #e9ecef;
  padding: 10px 20px;
}
.shop_attributes td {
  border: 1px solid #e9ecef;
  padding: 10px 70px;
}
.woocommerce-review__author {
  display: flex;
}
.woocommerce-review__published-date {
  font-size: 11px;
}
.kichcochu {
  font-size: 15px;
}
.font {
  font-family: "Oswald", sans-serif;
}
.redsquare {
  font-size: 1.25rem;
  margin-bottom: 1.2em;
  color: #000;
  text-transform: uppercase;
  border-left-style: solid;
  border-left-width: 20px;
  border-left-color: #ef2840;
  line-height: 22px;
  padding-left: 10px;
  letter-spacing: 0.2em;
}
.product-image {
  position: relative;
  height: 700px;
}

.product-image .image1 {
  position: absolute;
  top: 0;
  z-index: 0;
  transition: all 0.5s;
}
.product-image .image2 {
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
}
.product-image:hover .image2 {
  opacity: 1;
}
.linkimage {
  position: absolute;
  top: 500px;
  display: flex;
  width: 90%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.textimage {
  display: flex;
  font-weight: 500;
}
.shopaction {
  position: absolute;
  bottom: 220px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}

.product-image:hover .shopaction {
  opacity: 1;
}
.button-click {
  border: 1px solid #000;
  padding: 3px 30px;
  transform: scale(0.5);

  transition: all ease 0.35s;
  position: relative;
  margin-top: 0px;
  font-size: 15px;

  /* //visibility: hidden; */
  opacity: 0;
  letter-spacing: 0.2em;
}
.product-image:hover .button-click {
  opacity: 1;
  transform: scale(1);
}
.letterspacing {
  letter-spacing: 2px;
}
.linkfooter li {
  font-family: "Arapey", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.button-gmail {
  padding: 3px 15px;
  border: 1px solid #dadada;
  border-right: none;
}
.text-gmail {
  padding: 0 3px;
  border: 1px solid #dadada;
  border-left: none;
}
